$colors: (
  primary: #3498db,
  secondary: indigo,
  accent: #e74c3c,
);

$sizes: (
  small: 2rem,
  medium: 5rem,
  large: 8rem,
);

$fonts: (
  fontSerif: "Times New Roman",
  fontSansSerif: "Arial",
  fontMonoSpace: "Courier New",
);
