@use "../maps.scss";
@mixin alert-text($color: #555, $border: 2px solid #333) {
  background-color: $color;
  color: black;
  font-variant: small-caps;
  padding: 0.5rem;
  width: fit-content;
  border: $border;
  background-color: $color;
  @content;
}

@mixin user-styles($colors: primary, $sizes: medium, $fonts: sans-serif) {
  color: $colors;
  margin: $sizes;
  font-family: $fonts;
}
