@use "../abstracts/mixins" as mx;
@use "../abstracts/maps" as *;
.error-text {
  @include mx.alert-text(tomato);
}

.info-text {
  @include mx.alert-text(lightblue, 2px dashed navy);
}

.normal-text {
  @include mx.alert-text(white, null);
}

.faded-text {
  @include mx.alert-text {
    opacity: 0.5;
    border: 0px;
  }
}

.user-text {
  color: map-get($colors, primary);
  margin: map-get($sizes, medium);
  font-family: map-get($fonts, fontMonoSpace);
  font-size: map-get($sizes, medium);
}
