@use "../abstracts/mixins" as mx;
@use "../abstracts/maps" as *;
@use "../base/variables" as *;

.error-text {
  @include mx.alert-text(tomato);
}

.info-text {
  @include mx.alert-text(lightblue, 2px dashed navy);
}

.normal-text {
  @include mx.alert-text(white, null);
}

.faded-text {
  @include mx.alert-text {
    opacity: 0.5;
    border: 0px;
  }
}

// .user-text {
//   color: map-get($testcolors, secondary);
//   margin: map-get($sizes, medium);
//   font-family: map-get($fonts, fontMonoSpace);
//   font-size: map-get($sizes, medium);
// }

.user-text {
  margin: map-get($sizes, medium);
  padding: 0.5rem;
  font-size: map-get($sizes, medium);
  color: lighten($primary-color, 30);
  box-shadow: 8px 8px 8px darken($primary-color, 20);
}

.error-message {
  color: $errorColor;
  font-size: 5rem;
}
