@use "../abstracts/mixins" as mx;
$percent: 50;
%shadow {
  box-shadow: 8px 8px 8px #555;
}

.ball-001 {
  @include mx.ball(lighten(navy, 50), 4rem);
  @extend %shadow;
}

.ball-002 {
  @include mx.ball(darken(red, $percent), 2rem);
  @extend %shadow;
}

.ball-003 {
  @include mx.ball(adjust-hue(navy, -80deg), 3rem);
  @extend %shadow;
}

.ball-004 {
  @include mx.ball(mix(blue, red), 1rem);
}

$colors: purple, orchid, goldenrod, hotpink;

@for $i from 1 through length($colors) {
  .box-#{$i} {
    background-color: nth($colors, $i);
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
  }
}

@each $color in $colors {
  .rectangle-#{$color} {
    background-color: $color;
    width: 8rem;
    height: 3rem;
    border: 1px solid black;
  }
}
// $base-color: #3498db;

// .darkened-color {
//   background-color: darken($base-color, 10%);
// }

// .lightened-color {
//   background-color: lighten($base-color, 20%);
// }
